<p>########### Test of mixed analytics #########</p>

<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>All placemarks registered</th>
        <th>All stations registered</th>
        <th>All user accounts</th>
        <th>Lowest Unleaded Price</th>
        <th>Lowest Diesel Price</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{totalPlacemarks}}
            </td>
            <td>
                {{totalStations}}
            </td>
            <td>
                {{totalUsers}}
            </td>
            <td>
                {{minPetrolPrice}}
            </td>
            <td>
                {{minDieselPrice}}
            </td>
        </tr>
    </tbody>
</table>